*{
    text-decoration: none;
    list-style: none;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
 --Dark-Blue: hsl(233, 26%, 24%);
 --Lime-Green: hsl(136, 65%, 51%);
 --Bright-Cyan: hsl(192, 70%, 51%);

 --Grayish-Blue: hsl(233, 8%, 62%);
 --Light-GrayishBlue: hsl(220, 16%, 96%);
 --Very-LightGray: hsl(0, 0%, 98%);
 --White: hsl(0, 0%, 100%);
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 50px;
        padding: 2rem 5rem;
        z-index: 100;
        
        .list{
            position: relative;
            width: 27px;
            height: 1px;
            background-color: black;
            cursor: pointer;
            display: none;
        }
        .list::after{
            content: "";
            position: absolute;
            top: 5px;
            width: 27px;
            height: 1px;
            background-color: black;
        }
        .list::before{
            content: "";
            position: absolute;
            bottom: 5px;
            width: 27px;
            height: 1px;
            background-color: black;
        }
        .navbar{
            z-index: 100;
            display: flex;
            column-gap: 20px;
            a{
                color: hsl(233, 8%, 62%);
                font-size: 1.1rem;
                position: relative;
            }
            a::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -86%;
                transform-origin:  center;
                transform: scaleX(0);
                width: 100%;
                height: 3px;
                background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
            }
            a:hover:after{
                transform:scaleX(1);
                transition:.3s;
            }
            a:hover{
                color: var(--Dark-Blue);
                transition:.3s;
            }
        }

        .invite{
            button{
                padding: 12px 25px;
                border-radius: 20px;
                border: none;
                color: white;
                font-weight: bold;
                font-size: 1rem;
                background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                cursor: pointer;
                position: relative;
                transition: .2s;
            }
            button:hover{
                opacity: .7;
            }
        }
    }
    .active{
        opacity: 1 !important;
        z-index: 101;
    }
    section{
        display: flex;
        max-width: 100%;
        padding: 0 5rem;
        box-sizing: border-box;
    }
    .section-one{
        width: 100vw;
        background-color:hsl(0, 0%, 98%);
        position: relative;
        z-index: 1;
       .intro{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .textBox{
            width: 40%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            h1{
                font-size: 3rem;
                font-weight: lighter;
                color: var(--Dark-Blue);
            }
            .sec{
                color: hsl(233, 8%, 62%);
                font-size: 1rem;
            }
            .invite{
                button{
                    padding: 12px 25px;
                    border-radius: 20px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    font-size: .8rem;
                    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                    cursor: pointer;
                }
            }
            button:hover{
                opacity: .7;
            }
        }
        .imgDiv{
            width: 100%;
            max-width: 100vw;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            height: 100%;
            background-image:url(https://praiseimmanuel.github.io/easybank/css/bg-intro-desktop.svg); 
            background-repeat: no-repeat;
            background-position: 5rem;
            background-size: cover;
            img{
                z-index: 1;
                right: 0px;
                top: 20px;
                width: 650px;
            }
        }
       }
    }

    .section-two{
        flex-direction: column;
        row-gap: 50px;
        width: 100vw;
        background-color: var(--Light-GrayishBlue);
        padding: 4rem 5rem;
        .header{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .title{
                font-weight: lighter;
                font-size: 2rem;
                color: var(--Dark-Blue);
            }
            .sec{
                color: hsl(233, 8%, 62%);
                font-size: 1rem;
            }
        }
        .offers{
            display: flex;
            justify-content: space-between;
            .offer{
                font-weight: light;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 22%;
                .sec{
                    color: hsl(233, 8%, 62%);
                    font-size: .9rem;
                }
                img{
                    width: 50px;
                }
            }
        }
    }

    .section-three{
        flex-direction: column;
        row-gap: 80px;
        padding: 5rem;
        background-color: hsl(0, 0%, 98%);
        .header{
            .title{
                font-size: 3rem;
                color: var(--Dark-Blue);
                font-weight: lighter;
            }
        }
        .articles{
            display: flex;
            column-gap: 15px;
            flex-direction: row;
            justify-content: space-between;
            .article{
                border-radius: 8px;
                width: 25%;
                background-color: white;
                display: flex;
                flex-direction: column;
                .top{
                    width: 100%;
                    height: 16rem;
                    background-size: cover;
                   }
                   
                .bottom{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    margin-top: 20px;
                    .author{
                        color:hsl(233, 8%, 62%) ;
                        font-size: .8rem;
                    }
                    .articleTitle{
                        color: var(--Dark-Blue);
                        font-size: 1.3rem;
                        cursor: pointer;
                    }
                    .articleTitle:hover{
                        color: var(--Lime-Green)
                    }
                    .desc{
                        color:hsl(233, 8%, 62%) ;
                    }
                }
            }
        }
    }
    footer{
        width: 100vw;
        display:flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 2rem 5rem;
        background-color: var(--Dark-Blue);

        .leftSide{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 70%;

            .footerLinks{
                width: 20%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                row-gap: 15px;
                text-align: center;
            }

            .col{
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                .logo{
                    width: 150px;
                }
                span{
                    font-size: .8rem;
                    color: var(--Very-LightGray);
                    cursor: pointer;
                    width: 100px;
                }
                span:hover{
                    color: var(--Lime-Green);
                }

                .socials{
                    i{
                        margin-right: 10px;
                        font-size: 1.1rem;
                        color: white;
                    }
                    i:hover{
                        color: var(--Lime-Green);
                        cursor: pointer;
                    }
                }
            }
            .col-1{
                row-gap:40px;
            }
        }

        .rightSide{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
            .invite{
                button{
                    padding: 10px 20px;
                    border-radius: 20px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    font-size: .9rem;
                    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                    cursor: pointer;
                }
                button:hover{
                    opacity: .7;
                }
            }
            .copyRight{
                color:hsl(233, 8%, 62%);
                font-size: .8rem;
            }
        }
        .creator{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            p{
                font-size: .7rem;
                color:hsl(233, 8%, 62%);
                cursor: pointer;
            }
            a{
                color: white;
                cursor: pointer;
                font-size: .7rem;
            }
           a:hover{
            color: var(--Lime-Green);
        }
        }
    }

}


@media only screen and (max-width: 1230px) {
  .section-three{
    .articles{
        .article{
            .desc{
                font-size: .8rem !important;
            }
            .articleTitle{
                font-size: 1.1rem !important;
            }
            .author{
                font-size: .7rem !important;
            }
        }
    }
  }
}
@media only screen and (max-width: 987px) {
    footer{
        column-gap: 80px;
    }
  }
@media only screen and (max-width: 1085px) {
    .section-one{
      .imgDiv{
        img{
            top: 90px !important;
            width: 450px !important;
        }
      }
      .textBox{
        .title{
            font-size: 2.5rem !important;
        }
        .sec{
            font-size: .8rem !important;
        }
        button{
            font-size: .8rem !important;
        }
    }
    }
  }

  @media only screen and (max-width: 880px) {
    .section-one{
      .textBox{
        .title{
            font-size: 2.2rem !important;
        }
        .sec{
            font-size: .8rem !important;
        }
        button{
            font-size: .8rem !important;
        }
    }
    }
  }
  @media only screen and (max-width: 770px) {
   .section-one{
    padding: 0 !important;
    .intro{
        flex-direction: column-reverse !important;
        align-items: center !important;
        justify-content: space-between !important;
        row-gap: 40px !important;
        .imgDiv{
            width: 100%;
            position: relative;
            display: block;
            background-image: url(	https://praiseimmanuel.github.io/easybank/css/bg-intro-mobile.svg) !important;
            align-items: center !important;
            justify-content: center !important;
            background-size:cover !important;
            background-position-x:center !important;
          }

        .textBox{
            width: 100% !important;
            text-align: center;
            align-items: center;
            padding-bottom: 4rem;
        }
    }
   }

    nav{
        .list{
            display: block !important;  
        }
       padding: 0 2rem !important;
        .navbar{
            position: absolute;
            top: 8%;
            right: 0;
            flex-direction: column !important;
            row-gap: 20px;
            width: 100%;
            max-width: 100%;
            background-color: white;
            align-items: center;
            justify-content: center;
            padding: 2.5rem 0;
            border-radius: 15px;
            opacity: 0;
            transition: .3s;
            a{
                color: var(--Dark-Blue) !important;
                font-size: 1.2rem !important;
            }
        }
        button{
            display: none !important;
        }
    }

    .section-two{
        padding: 0 !important;
        align-items: center !important;
        padding-bottom: 2rem !important;
        .header{
            margin-top: 80px;
            text-align: center;
        }
        .offers{
            flex-direction: column !important;
            align-items: center  !important;
            row-gap: 25px;

            .offer{
                align-items: center;
                width: 80% !important;
                text-align: center;
            }
            img{
                width:70px !important;
            }
            .title{
                font-size: 1.3rem !important;
            }
        }
    }
    .section-three{
        padding: 0 2.8rem !important;
        .title{
            margin-top: 80px;
            text-align: center !important;
        }
      .articles{
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
        row-gap: 20px;
        .article{
            width: 100% !important;
        }
      }
    }
    footer{
        margin-top: 80px;
        flex-direction: column !important;
        row-gap: 30px !important;
        padding: 2rem 0 !important;
        .leftSide{
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            row-gap: 15px;
            .footerLinks{
                flex-direction: column !important;
                justify-content: center !important;
                align-items: center !important;
                row-gap: 15px !important;
                text-align: center !important;
            }
            .col-1{
                row-gap:40px;
            }
        }

        .rightSide{
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;

            button{
                font-size: 1rem !important;
            }
        }
    }
 
  }



  @media only screen and (max-width: 444px) {
    .section-one{
        .imgDiv{
            img{
                width: 330px !important;
            }
          }
    }
  }